# exclude any development-specific files
.devcontainer/
.vscode/
.idea/

# exclude any dependency directories
node_modules/
vendor/

# exclude build artifacts
build/
dist/
bin/
tmp/
log/

# exclude any version control files
.git/

# exclude CI files
.github/
.gitlab-ci.yaml

# exclude Docker files
Dockerfile*
docker-compose*.yaml
compose*.yaml

# exclude any development-specific files
**/*.templ
**/*_test.go
package.json
*-lock.json
*.lockb
*.config.*
Makefile
Taskfile*
coverage*
.*ignore
*.env
*.log
*.md
*.out
*.toml
*.test
*.yml
*.yaml
*.dbml
