package pages

import "github.com/bagashiz/sea-salon/web/components"

templ Register() {
	@components.Layout() {
		@components.Register()
	}
}

templ Login() {
	@components.Layout() {
		@components.Login()
	}
}
